<div class="main-block">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Developers</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-md-offset-3 text-center"> 

            <p>
                Here you can manage your apps.<br>
                To create a new app type its name and press enter.
            </p>
            <br>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-md-offset-2 text-center">
                    <form ng-submit="addNewApp(newAppName)">
                        <input type="text" class="form-control" ng-model="newAppName" 
                               placeholder="App Name">
                        <input type="submit" style="display:none" class="btn btn-primary" value="+">
                    </form>
                </div>
                <br>
                <div class="col-md-12 text-center" ng-if="apps != null && apps.length>0">
                    <br><br>
                    <p>Your Apps</p>
                    <table class="table">
                        <tr>
                            <th>App</th>
                            <th class="text-center">Key</th>
                            <th class="text-center">Secret</th>
                        </tr>
                        <tr ng-repeat="app in apps" style="font-size:small">
                            <td>{{app.appName}}</td>
                            <td style="color:blue" class="text-center">
                                {{app.oauthConsumerKey}}
                            </td>
                            <td style="color:blue" class="text-center">
                                {{app.oauthSignature}}
                            </td>
                        </tr>
                    </table>

                    </table>
            </div>
            <div class="col-md-12 text-center" ng-if="apps == null || apps.length==0">
                <br>
                No apps registered yet.
            </div>
            <div class="col-md-12 text-center">
                <br>
               You can find the API documentation 
               <a target="_blank" 
               href="https://www.dropbox.com/s/s7zsgg33w952p89/SIS_PUBLIC_API.pdf?dl=1">here</a>.
            </div>
            
        </div>



    </div>
</div>
</div>