<div class="main-block">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Developers</h2>
            <hr class="star-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-md-offset-3 text-center"> 

            <p>
                Here you can manage your apps.
            </p>



            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-md-offset-2 text-center">
                    <form ng-submit="addNewApp(newAppName)">
                        <input type="text" class="form-control" ng-model="newAppName" 
                               placeholder="New App Name">
                        <input type="submit" style="display:none" class="btn btn-primary" value="+">
                    </form>
                </div>
                <br>
                <div class="col-md-12 text-center" ng-if="apps != null && apps.length>0">
                    <br><br>
                    <p>Your Apps</p>
                    <table class="table">
                        <tr>
                            <th>App</th>
                            <th>Key</th>
                            <th>Secret</th>
                        </tr>
                        <tr ng-repeat="app in apps">
                            <td>{{app.appName}}</td>
                            <td style="color:blue">{{app.oauthConsumerKey}}</td>
                            <td style="color:blue">{{app.oauthSignature}}</td>
                        </tr>
                    </table>
                    <br><br>
                    <p>Oauth 1 URLs</p>
                    <table class="table">
                        <tr>
                            <th>Function</th>
                            <th>URL</th>
                        </tr>
                        <tr>
                            <td>Reqeust Token</td>
                            <td>/oauth1/request_token</td>
                        </tr>
                        <tr>
                            <td>Authorize</td>
                            <td>#/oauth1/authorize</td>
                        </tr>
                        <tr>
                            <td>Access Token</td>
                            <td>/oauth1/access_token</td>
                        </tr>
                    </table>
                </div>
            </div>



        </div>
    </div>
</div>